.header {
  display: flex;
  align-items: center;
  padding: 32px 64px;
  border-bottom: 1px solid $color-black-10;

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__left-nav {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  &__logo-box {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 32px;
  }

  &__nav-link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-black;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__right-nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__seperator {
    width: 1px;
    height: 16px;
    background-color: $color-black-25;
  }
}
